export('readFloat')
export('readFloatArray')
export('read_heyex')
export('read_heyex_header')
export('read_heyex_slo')
export('read_bscan_header')
export('get_segmentation')
export('get_bscan')
export('get_slo')
export('read_segmentation_xml')
export('render_oct_summary')
export('render_slo')

import('dplyr')
import('tidyr')
import('stringr')
import('bit64') # For 64-bit integers. NOTE: NOT FULLY IMPLEMENTED YET.
import('XML')
import('ggplot2')
import('gridExtra')
import('grid')
import('standardlibrary') # CHECK TO SEE IF THIS IS NECESSARY
